/* Form Layout
---------------- */
.spud_post_form_fieldset{
	margin: 30px 0;
}
.spud_post_form_col{
	width: 400px;
	float: left;
	margin: 0 20px;
}
.spud_post_form_input_group{
	border: 1px dashed #E5E5E5;
	padding: 4px;
	margin: 0 0 10px;
}
.spud_post_form_input_group input{
	display: inline-block;
}
.spud_post_form_input_group select{
	margin-bottom: 20px;
}
.spud_post_form_input_group label{
	margin: 0 10px 0 0;
	padding: 0;
}
.spud_post_form_row{
	margin: 5px 0;
}
.spud_post_form_help_block{
	font-size: 12px;
	font-style: italic;
	margin: 0 0 20px;
	display: block;
}
#spud_post_meta_keywords, #spud_post_meta_description{
	width: 380px;
}
#spud_post_meta_description{
	height: 100px;
}

/* Categories
-------------- */
.spud_post_categories_form{
	white-space: nowrap;
	list-style-type: none;
	margin: 15px 0;
	max-height: 400px;
	min-height: 200px;
	background: white;
	border: 1px solid #E5E5E5;
	padding: 10px 0 10px 15px;
	overflow: auto;
	border-radius: 5px;
}
.spud_post_categories_form ul{
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 15px;
}
.spud_post_categories_form input{
	display: inline-block;
	margin: 0;
}
.spud_post_categories_form label{
	display: inline;
}
.spud_post_form_category{
	margin: 4px 0;
}

/* Category Manager
------------------- */
.spud_blog_category_add_new{
	float: right;
}
.spud_blog_category_manager{
	padding-right: 10px;
}
.spud_blog_category_manager ul{

}
.spud_blog_category_manager_list{
	clear: right;
	padding: 0 0 0 20px;
	margin: 10px 0;
	min-height: 100px;
	max-height: 350px;
	overflow: auto;
}
.spud_blog_category_manager_item{
	position: relative;
	margin: 10px 0;
	/*border: 1px solid #E5E5E5;*/
}
.spud_blog_category_manager_item_children{
	margin: 0;
	padding: 0 0 0 15px;
}
.spud_blog_category_manager_item_actions{
	position: absolute;
	right: 0;
	margin: 0 0 0 10px;
}
.spud_blog_manage_categories_save, .spud_blog_manage_categories_back{
	display: none;
}

/*Comment Manager*/
.submitted-on {
	display:block;
	color:#555;
}
