<div class="spud_blog_category_manager">
	<%= link_to "New Post Category", new_spud_admin_post_category_path, :class => "btn btn-sm btn-success spud_blog_category_add_new", :title => "New Post Category" %>
	<ul class="spud_blog_category_manager_list">
    <% if @post_categories.length == 0 %>
      <li class="spud_blog_category_manager_empty">You do not have any Post Categories at this time.</li>
    <% end %> 
		<%= render :partial => 'category', :collection => @post_categories[nil] %>
	</ul>
</div>